.btn {
    color: #fafafa;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    text-decoration: none;
    padding: 20px;
    text-align: center;
    background-color: var(--primary-link);
    color: #fafafa;
    border: none;
    cursor: pointer;
}

.btn-box {
    border-radius: 5px;
    width: 100%;
    font-size: 20px;
    transition: background-color 0.3s, transform 0.4s;
}

.btn-box:hover {
    background-color: var(--box-extra-info-btn);
    transform: scale(0.95);
}
