footer {
    min-height: 30dvh;
    background-image: var(--main-footer-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
    color: rgb(231, 231, 231);
    font-weight: bold;
}