:root {
    --links--nav--size: 20px;
    --link--accent-color: purple;
    --primary-link-color-nav: white;
}

/*body of nav*/
nav {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/*Logo*/
.logo {
    display: flex;
    gap: 10px;
    align-items: center;
}

.logo h2{
    width: 50%;
    color: var(--primary-link-color-nav);
}
.logo-img{
    width: 100px;
    height: 100px;
}

.logo-img img{
    border-radius: 50%;
}

/*page links*/
.page-links {
    display: flex;
    gap: 5px;
}


a.nav-btn.active-nav-btn {
    color: var(--primary-link);
}

.page-links a {
    color: var(--primary-link-color-nav);
    padding: 10px;
    cursor: pointer;
    font-size: var(--links--nav--size);
}

/*button contact*/
.contact-us {
    display: flex;
    align-items: center;
    gap: 20px;
}

.contact-btn {
    padding: 20px;
    background-color: var(--primary-link);
    color: var(--primary-link-color-nav);
    font-size: var(--links--nav--size);
    font-weight: bold;
    border-radius: 10px;
}

/*greet user*/
.greet-user {
    font-size: var(--links--nav--size);
    color: var(--primary-link-color-nav);
}

.greet-user span {
    font-style: italic;
    color: var(--link--accent-color);
}

/*animation*/
.greet-user:hover,
.logo h2:hover,
.logo-img img:hover,
.contact-btn:hover,
.page-links a:hover {
    transition: all 1s;
}

.greet-user:hover,
.logo h2:hover,
.logo-img img:hover,
.contact-btn:hover,
.page-links a:hover {
    scale: 0.9;
}

.logo h2:hover,
.page-links a:hover {
    scale: 0.9;
    color: orange;
}

/*dropdown*/
/* Dropdown Container */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Trigger (a tag styled as a button) */
.dropdown-btn {
    background-color: var(--primary-link);
    color: white;
    padding: 14px 20px;
    font-size: 16px;
    text-decoration: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
}

/* Style for the dropdown content (hidden by default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--general-color-forms);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Style for links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Hover effect for dropdown links */

a.dropdown-btn:hover {
    color: white;
}
.dropdown-content a:hover {
    background-color: #f1f1f1;
}

/* Show the dropdown content on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change background color on hover for the dropdown trigger */
.dropdown:hover .dropdown-btn {
    background-color: orange;
}