.section-flex-center-100 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100dvh;
}

.section-flex-center-50 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 50dvh;
}

/*flex-center*/
.flex-center {
    display: flex;
    justify-content: center;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-column-center-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*height*/
.minheight100 {
    min-height: 100dvh;
}

.height40 {
    min-height: 40dvh;
}
.height50 {
    min-height: 50dvh;
}


/*gap*/
.gap50 {
    gap: 50px;
}

/*structure*/
.structure {
    width: 80%;
}