/*le tableau*/
@import url(../componnents/table.css);
.admin-interface {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(187 184 179);
    justify-content: center;
    min-height: 100vh;
}

.admin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 30px;
}

.admin-container h1 {
    font-size: 50px;
    color: #8b5720;
}



/*icons*/
.icon-action {
    width: 1rem;
    height: 1rem;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;

    transition: opacity 0.5s, transform 1.5s;
}

/*hover*/
.icon-action:hover {
    opacity: 70%;
    scale: 1.25;
}

.icon-action:active {
    scale: 0.8;
}

.icon-red {
    background-color: red;
}
.icon-green {
    background-color: green;
}

/*remove the styles for icon btns*/
button.btn-delete {
    background: none;
    border: none;
}